<div class="design">
<p style="color: green"><%= notice %></p>

<h1>CLIENTES</h1>

<div id="clientes">
  <% @clientes.each do |cliente| %>
    <%= render cliente %>

  <% end %>
</div>


<%= link_to "Cadastrar cliente", new_cliente_path, class: "btn btn-success btn-cadastro"  %>
</div>