<p style="color: green"><%= notice %></p>

<h1>CLIENTE</h1>

<div id="design">
  <% @clientes.each do |cliente| %>
    <%= render cliente %>
    <button type="submit">
      <%= link_to "ver clientes", cliente %>
    </button>
  <% end %>


<button type="submit">
<%= link_to "Cadastrar cliente", new_cliente_path %>
</button>
</div>