<p style="color: green"><%= notice %></p>

<h1>CLIENTE</h1>

<div id="clientes">
  <% @clientes.each do |cliente| %>
    <%= render cliente %>

  <% end %>
</div>

<button type="submit">
<%= link_to "Cadastrar cliente", new_cliente_path %>
</button>