<div class="design">
<h1>Editing part</h1>

<%= render "form", part: @part %>

<br>

<div>
  <button type="submit">
    <%= link_to "Show this part", @part %>
  </button>
  <button type="submit">
    <%= link_to "Back to parts", parts_path %>
  </button>
</div>
</div>