<div class="design">
<p style="color: green"><%= notice %></p>

<h1>EQUIPES</h1>

<div id="equipes">
  <% @equipes.each do |equipe| %>
    <%= render equipe %>
  <% end %>
</div>
<%= link_to "Cadastrar equipe", new_equipe_path, class: "btn btn-success btn-cadastro" %>

</div>