<div class="design">
<h1>Editing servico</h1>

<%= render "form", servico: @servico %>

<br>

<div>
  <button type="submit">
    <%= link_to "Show this servico", @servico %> 
  </button>
  <button type="submit">
    <%= link_to "Back to servicos", servicos_path %>
  </button>
</div>
</div>