<div class="design">
<p style="color: green"><%= notice %></p>

<h1>Servicos</h1>

<div id="servicos">
  <% @servicos.each do |servico| %>
    <%= render servico %>
  <% end %>
</div>

<%= link_to "Cadastrar servico", new_servico_path, class: "btn btn-success btn-cadastro"%>

</div>