<div class="design">

<p style="color: green"><%= notice %></p>

<h1>Veiculos</h1>

<div id="veiculos">
  <% @veiculos.each do |veiculo| %>
    <%= render veiculo %>
  <% end %>
</div>

<%= link_to "Cadastrar veiculo", new_veiculo_path, class: "btn btn-success btn-cadastro" %>

</div>