<div class="design">
<h1>EDITAR ORDEM DE SERVIÇO</h1>

<%= render "form", ordem_servico: @ordem_servico %>

<div>
  
  <%= link_to "Voltar", ordem_servicos_path, class: "btn btn-warning voltar" %>
  
</div>
</div>