<div class="design">
<p style="color: green"><%= notice %></p>

<h1>ORDENS</h1>

<div id="ordem_servicos">
  <% @ordem_servicos.each do |ordem_servico| %>
    <%= render ordem_servico %>
  <% end %>
</div>

<%= link_to "Cadastrar ordem servico", new_ordem_servico_path, class: "btn btn-success btn-cadastro" %>

</div>
